arrow==0.10.0
boto==2.43.0
certifi==2017.4.17
chardet==3.0.4
dj-database-url==0.4.1
dj-stripe==0.8.0
Django==1.10.3
django-braces==1.11.0
django-dashing==0.3.3
django-forms-bootstrap==3.0.1
django-gravatar2==1.4.0
django-model-utils==3.0.0
django-storages==1.5.1
djangorestframework==3.6.3
gunicorn==19.6.0
idna==2.5
jsonfield==2.0.2
olefile==0.44
Pillow==4.1.1
python-dateutil==2.6.0
pytz==2017.2
requests==2.12.1
six==1.10.0
stripe==1.42.0
urllib3==1.21.1
