arrow==0.10.0
boto==2.48.0
certifi==2017.7.27.1
chardet==3.0.4
click==6.7
dj-database-url==0.4.2
dj-stripe==0.8.0
Django==1.11.3
django-bootstrap3==9.0.0
django-braces==1.11.0
django-dashing==0.3.3
django-forms-bootstrap==3.1.0
django-gravatar2==1.4.2
django-model-utils==3.0.0
django-storages==1.6.4
djangorestframework==3.6.3
Flask==0.12.2
gunicorn==19.7.1
idna==2.5
itsdangerous==0.24
Jinja2==2.9.6
jsonfield==2.0.2
MarkupSafe==1.0
olefile==0.44
Pillow==8.2.0
pycurl==7.43.0
pymongo==3.4.0
python-apt==1.1.0b1
python-dateutil==2.6.1
python-debian==0.1.28
pytz==2017.2
requests==2.18.2
six==1.10.0
ssh-import-id==5.6
stripe==1.62.0
ufw==0.35
unattended-upgrades==0.1
urllib3==1.22
Werkzeug==0.12.2
