{% extends "base.html" %}
{% load bootstrap_tags %}
{% block content %}
	<strong>
		<div style="background-image: url('../../static/e_commerce/assets/img-temp/2100x1416/img1.jpg')">
			<div class="container" style="padding-top: 10%; padding-bottom: 20%">
				<div class="container" style="padding: 1%; background: transparent; color: lightgrey">
					<form role="form" method="post" action="{% url 'register' %}">
						<legend>Create a new account</legend>
						{% csrf_token %}
						{{ form | as_bootstrap }}
						<div class="form-group">
							<button type="submit" class="btn btn-primary">Create account</button>
							<button onclick="window.location.href='{% url 'index' %}'" class="btn btn-primary">Cancel Return Home
							</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</strong>
{% endblock %}